&.show
  .header
    padding: 30px 0
    background-color: $brand-tertiary
    color: white
    h2
      font-size: 230%
      margin-top: 0
    .col-md-3
      .stats
        margin-bottom: 1em
        >.flex
          >.num
            font-size: 150%
          >.unit
            font-size: 100%
  .comments
    .comment
      padding: 1em 0

    
