&.show
  .row > *
    padding: 1em
  .col-md-3
    > .glyphicon-user
      font-size: 21vw
    >*:not(:last-child)
      margin-bottom: 10px
  .col-md-9
    .stats
      >.flex
        >.num
          font-size: 250%
          font-weight: 700
        >.unit
          font-size: 130%

