Commented by
= link_to comment.commenter.email, comment.commenter
- if comment.commenter == current_user
  .pull-right
    = link_to "Destroy", [comment.commentable, comment], method: :delete, data: {confirm: "Are you sure?"}
.body
  = comment.body

