@import "bootstrap/variables"

body
  > header
    border-bottom: 1px solid $border-color
    .row
      height: $header-height
      >*:last-child
        >*:not(:last-child)
          margin-right: 0.5em
      h1.logo
        margin: 0
        font-size: 200%
        a
          @include logo
          color: $brand-primary !important
