@import "bootstrap/variables"

body
  > header
    border-bottom: 1px solid $border-color
    .row
      height: 45px
      h1.logo
        margin: 0
        font-size: 200%
        a
          color: $brand-primary !important
          font-family: $brand-font
          font-weight: 900
          &:hover
            text-decoration: none

      >*:last-child
        >*:not(:last-child)
          margin-right: 0.5em


