.item
  :ruby
    locals = {
      item: item,
      user: item.author,
      header: (
        (link_to item.author.username, item.author) +
        "が約#{time_ago_in_words item.published_at.try(:to_datetime)}前に投稿しました"
      )
    }
  = render partial: "items/item_box", locals: locals
